__pycache__
.env
.history
.hypothesis/
build/*
!build/deployments
build/deployments/*
!build/deployments/map.json
!build/deployments/1
!build/deployments/137
reports/
.venv/
*.sw?
node_modules/
cache/
artifacts/
*.js
